* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1600px;
}
.header .container{
    width: 70%;
    margin:auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}

.header {
    margin-top: 50px;
    position: fixed;
    width: 100%;
}


.header  ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

.header .list{
    display: flex;
    align-items: center;
}



.header a {
    text-decoration: none;
    transition: .8s;
    color: #0D0E43;
}

spam{
    color: #FB2E86;
}
form{
    border: 1px solid rgb(169, 166, 166);
    display: flex;
}
input{
    border: 0;
    padding: 0 10px;
    width: 280px;
}
button{
    height: 40px;
    width: 50px;
    background-color: #FB2E86;
    border: 0;
}

.header a:hover{
    color: #FB2E86;
    font-size: 18px;
}

