* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1600px;
}
 .header .container{
    width: 70%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.header {
    margin-top: 50px;
    width: 100%;
}


.header  ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

.header .list{
    display: flex;
    align-items: center;
}



.header a {
    text-decoration: none;
    transition: .8s;
    color: #0D0E43;
}

spam{
    color: #FB2E86;
}
.header form{
     border: 1px solid rgb(169, 166, 166);
    display: flex;
}
 input{
    border: 0;
    padding: 0 10px;
    width: 280px;
}
.header button{
    height: 40px;
    width: 50px;
    background-color: #FB2E86;
    border: 0;
}

.header .menu{
    display: none;
}
.header a:hover{
    color: #FB2E86;
    font-size: 18px;
}
.footer{
    margin-top: 50px;
    background-color: #EEEFFB;
}

 .footer .container{
    width: 70%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}
.footer .right-side{
    width:calc((100% - 20px)/2);
    display: flex;
    gap: 30px;
    align-items:flex-start;
}
.footer .left-side{
    width:calc((100% - 20px)/2);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.footer form{
     border: 1px solid rgb(169, 166, 166);
     display: flex;
}
.footer button{
    height: 40px;
    width: 80px;
    background-color: rgb(251, 46, 134);
    border: 0;
}
.footer ul , p{
    color: #8A8FB9;
    list-style: none;
}
.footer .right-side .footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-item ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (min-width:320px) and (max-width:990px) {

    .header .list,
    .header .search{
        display: none;
    }
    .header .menu{
        display: block;
    }

    .footer .left-side,
    .footer .right-side{
        width: 100%;
    }
} 

